<!DOCTYPE html>
<html lang="en">
<head>
	<title> AFFINITY ASSESSMENT </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" href="{{ url_for( 'static', filename='img/affinity_logo.png') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'login/vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'login/vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'login/vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'login/vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'login/vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'login/vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'login/css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'login/css/main.css') }}">
<!--===============================================================================================-->
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<script src="{{ url_for( 'static', filename= 'login/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
</head>
<body style="background-color: #666666;">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						<img src="{{ url_for( 'static', filename='img/affinity_logo.png')}}" width="30px" height="30px" />
						AFFINITY ASSESSMENT
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="txtUsername" id="txtUsername" >
						<span class="focus-input100"></span>
						<span class="label-input100">Username</span>
					</div>


					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="pass" id="txtPassword">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

					<div align="center" class="response">
					</div>


					<div class="container-login100-form-btn">
						<button class="login100-form-btn" id="btnLoginUser">
							Login
						</button>
					</div>
				</form>
				<div class="login100-more" style="background-image: url('../static/img/loginImage.jpg');">
				</div>
			</div>
		</div>
	</div>

	<script src="{{ url_for( 'static', filename= 'js/jquery-3.3.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for( 'static', filename= 'login/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for( 'static', filename= 'login/vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for( 'static', filename= 'login/vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for( 'static', filename= 'login/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for( 'static', filename= 'login/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for( 'static', filename= 'login/vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for( 'static', filename= 'login/vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for( 'static', filename= 'login/vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for( 'static', filename= 'login/js/main.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for( 'static', filename= 'js/jquery.min.js') }}"></script>
    <script src="{{ url_for( 'static', filename= 'js/ie10-viewport-bug-workaround.js') }}"></script>
    <script src="{{ url_for( 'static', filename= 'js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for( 'static', filename= 'js/app.js') }}"></script>

</body>
</html>