{% extends "base/base.html" %}
{% block username %} {{ userdata["firstname"].capitalize() }} {{ userdata["lastname"].capitalize() }} {% endblock username %}
{% block useremail %} {{ userdata["email"] }} {% endblock useremail %}
{% block sessionname %} - {{ userdata["username"].capitalize() }} {% endblock sessionname %}
{% block screenname %} {{ menu_item }} {% endblock screenname %}

{% block body %}

<div class="card mb-5 mb-xl-8">
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bold fs-3 mb-1">Coupons</span>
        </h3>
        <div class="d-flex align-items-center position-relative my-1">
        </div>
    </div>
    <div class="card-body py-3">
        <div class="table-responsive">
            <table id="couponsTable" class="table align-middle gs-0 gy-4">
                <thead>
                <tr class="fw-bold text-muted bg-light">
                    <th class="ps-4 min-w-200px rounded-start">Coupon Code</th>
                    <th class="min-w-120px">Customer Name</th>
                    <th class="min-w-120px">Voucher Amount</th>
                    <th class="min-w-120px">Validity Days</th>
                </tr>
                </thead>
                <tbody>
                {% for coupon in coupons %}
                    <tr>
                        <td><a style="cursor: pointer;"><strong>{{ coupon["coupon_id"] }}</strong></a></td>
                        <td>{{ coupon["customer_name"] }}</td>
                        <td>{{ coupon["voucher_amount"] }}</td>
                        <td>{{ coupon["validity_days"] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock body %}

{% block script %}

    <script>
        jq(document).ready(function () {
            jq('#couponsTable').DataTable();
        });
    </script>

{% endblock script %}
